.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 100vh;
  background-image: url("/images/pink-background.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  padding: 12px;
}

.back-button {
  margin-top: 48px;
}

.title {
  font-family: var(--font-lato), sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.41px;
  color: #fff;
}
